/*showing number*/
.revealed-square{
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 2px solid blue;
}

/*hiding number*/
.hidden-square{
  background-color: purple;
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 2px solid black;
}
