.grid-container {
  width: 80%;
  margin: 0 auto;
}

.card {
  height: 50px;
  display: inline-block;
  background-color: lightyellow;
  text-align: center;
  font-weight: bold;
  margin: 1%;
  padding: 0;
  border: 1px solid black;
  box-sizing: border-box;
  transition: all 0.5s;
  transform: rotateY(180deg);
  cursor: pointer;
}

.name {
  transition: all 0.5s;
  font-size: large;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateY(60%) rotateY(180deg);
}

.revealed {
  transform: rotateY(0deg);
}

.revealed .name{
  transform: translateY(60%) rotateY(0deg);
}

.correct {
  border-color: darkgreen;
  background-color: lime;
}
