.center {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.board {
  height: 600px;
  width: 400px;
  display: block;
  margin: 0 auto;
}

img {
  height: 300px;
  width: 200px;
  float: left;
}
