.card {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

.back {
  background-color: black;
}

.grid {
  width: 500px;
}

.flipped {
  pointer-events: none;
}

.matched {
  border: 1px solid green;
}