<div id="grid" class="row" data-grid-id="<%= grid.id %>">
  <div class="col-xs-12 clearfix">
    
    <% for (var i = 0; i < grid.cards.length; i++) { %>
      <%= partial('cards/card', {card: grid.cards[i]}) %>
    <% } %>
        
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.flip').click(function(e) {
        e.preventDefault(e);

        var $card = $(this).find('.card');
        var cardId = $card.attr('data-card-id');

        var $player = $('#player');
        var playerId = $player.attr('data-player-id');
        var score = ~~$player.find('#score').text();

        if (Card.canFlip(cardId)) {
          $card.addClass('flipped');
          CardsController.params = {
            isFlipped: true
          };
          CardsController.update(cardId);

          var $flips = $('#flips');
          var flips = ~~$flips.text();
          flips++;
          PlayersController.params = {
            flips: flips
          };
          PlayersController.update(playerId);
          $flips.text(flips);
        }

        if (Card.isMiss(cardId)) {
          setTimeout(function() {
            $('.unmatched.flipped').each(function(index, element) {
              var cardId = $(element).attr('data-card-id');
              CardsController.params = {
                isFlipped: false
              };
              CardsController.update(cardId);
            });
            $('.unmatched.flipped').removeClass('flipped');
          }, 1000);
        } else if (Card.isMatch(cardId)) {
          $('.card.unmatched.flipped').each(function(index, element) {
            var cardId = $(element).attr('data-card-id');
            CardsController.params = {
              isMatched: true
            };
            CardsController.update(cardId);
          });
          $('.unmatched.flipped')
            .removeClass('unmatched')
            .addClass('matched');

          var $score = $('#score');
          var score = ~~$score.text();
          score += $('.card').length;
          PlayersController.params = {
            score: score
          };
          PlayersController.update(playerId);
          $score.text(score);
        }

        if (Game.isWin()) {
          $('#message')
            .removeClass('alert-info')
            .addClass('alert-success')
            .html('You win! <a class="btn btn-primary" href="/">Play again?</a>');

          $('.flip').off('click');
        }

        return false;
    });
  });
</script>

