<div id="game" class="row" data-game-id="<%= game.id %>">
  <div class="col-xs-12">

      <header class="page-header text-center">
        <h1>
          Card Matcher
        </h1>
      </header>

      <div id="message" class="alert alert-info">
        Use your memory to match pairs of cards.
        You win when all matches are uncovered.
        <a class="btn btn-primary" href="/">Restart?</a>
        <a id="cheat" href="#" class="btn btn-danger">Cheat</a>
      </div>

      <table id="player" class="table" data-player-id="<%= game.player.id %>">
        <thead>
          <tr>
            <td>Score</td><td>Flips</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="score">0</td><td id="flips">0</td>
          </tr>
        </tbody>
      </table>

      <div class="well">
        <%= partial('grids/grid', {grid: game.grid}) %>
      </div>

  </div>
</div>

<script>
  $(document).ready(function() {
    $('#cheat').click(function() {
      $('.card.unmatched').addClass('flipped');
      setTimeout(function() {
        $('.card.unmatched.flipped').removeClass('flipped');
      }, 5000);
    });
  });
</script>

