<div class="flip">
  <div class="card unmatched" data-card-id="<%= card.id %>">
    <div class="face front"></div>
    <div class="face back">
      <img class="img-responsive" src="<%= card.file %>" alt="Card">
    </div>
  </div>
</div>

